In [36]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [37]:
news = spark.read \
    .format("jdbc") \
    .option("driver","com.mysql.cj.jdbc.Driver") \
    .option("url", "jdbc:mysql://140.238.153.4:8443/naver_miniproject") \
    .option("dbtable","news") \
    .option("numPartitions",5) \
    .option("user", "minip3") \
    .option("password", 'enCore1289!') \
    .load()

In [38]:
news.limit(3).show()

+---+------------+-----------+----------------------------------+-------------------+---------------------------------+--------------------+-------------------------+
| id|main_section|sub_section|                             title|           datetime|                          content|           image_src|                   byline|
+---+------------+-----------+----------------------------------+-------------------+---------------------------------+--------------------+-------------------------+
|  1|         100|        264|대통령실 민정수석 부활…시민사회...|2024-05-01 23:10:00|김주현·박찬호 등…민정수석 검토...|https://imgnews.p...|박미영 기자(mypark@new...|
|  2|         100|        264| 이르면 내주 용산 조직개편…민정...|2024-05-01 22:07:00|정무수석실도 재정비…정책·홍보 ...|https://imgnews.p...|  정아란(airan@yna.co....|
|  3|         100|        264|  윤 대통령, 다음주 공식 기자회...|2024-05-01 20:45:00| [뉴스리뷰][앵커]윤석열 대통령...|                null|  최지숙(js173@yna.co.kr)|
+---+------------+-----------+----------------------------------+-------------------+---------------------------------+--------------------+-------------------------+

In [39]:
news.count()

241993

In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import year, month, dayofmonth,col

In [41]:
news_md = news.withColumn("month", month(col("datetime")))

In [42]:
news_md = news_md.withColumn("day", dayofmonth(col("datetime")))

In [43]:
news_md.limit(1).show()

+---+------------+-----------+----------------------------------+-------------------+---------------------------------+--------------------+-------------------------+-----+---+
| id|main_section|sub_section|                             title|           datetime|                          content|           image_src|                   byline|month|day|
+---+------------+-----------+----------------------------------+-------------------+---------------------------------+--------------------+-------------------------+-----+---+
|  1|         100|        264|대통령실 민정수석 부활…시민사회...|2024-05-01 23:10:00|김주현·박찬호 등…민정수석 검토...|https://imgnews.p...|박미영 기자(mypark@new...|    5|  1|
+---+------------+-----------+----------------------------------+-------------------+---------------------------------+--------------------+-------------------------+-----+---+

In [44]:
news_md.printSchema()

root
 |-- id: integer (nullable = true)
 |-- main_section: string (nullable = true)
 |-- sub_section: string (nullable = true)
 |-- title: string (nullable = true)
 |-- datetime: timestamp (nullable = true)
 |-- content: string (nullable = true)
 |-- image_src: string (nullable = true)
 |-- byline: string (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)

In [45]:
pip install hdfs

Requirement already satisfied: hdfs in /home/hadoop/miniconda3/lib/python3.10/site-packages (2.7.3)
Requirement already satisfied: docopt in /home/hadoop/miniconda3/lib/python3.10/site-packages (from hdfs) (0.6.2)
Requirement already satisfied: requests>=2.7.0 in /home/hadoop/miniconda3/lib/python3.10/site-packages (from hdfs) (2.31.0)
Requirement already satisfied: six>=1.9.0 in /home/hadoop/miniconda3/lib/python3.10/site-packages (from hdfs) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/hadoop/miniconda3/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/hadoop/miniconda3/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/hadoop/miniconda3/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/hadoop/miniconda3/lib/python3.10/site-packages (from requests>=2.7.0->hdfs) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.

In [112]:
classpath = subprocess.Popen(["/home/hadoop/hadoop/bin/hdfs", "classpath", "--glob"], stdout=subprocess.PIPE).communicate()[0]
os.environ["CLASSPATH"] = classpath.decode("utf-8")
hdfs = fs.HadoopFileSystem(host='192.168.0.251', port=8020, user='minip3')

In [116]:
hdfs.get_file_info(pa.fs.FileSelector("/.", recursive=True))

[<FileInfo for '/test': type=FileType.Directory>,
 <FileInfo for '/user': type=FileType.Directory>,
 <FileInfo for '/user/minip3': type=FileType.Directory>,
 <FileInfo for '/user/minip3/mort': type=FileType.Directory>]

In [117]:
hdfs

In [118]:
local = fs.LocalFileSystem()

In [119]:
local

In [122]:
hdfs_base_path = 'hdfs://192.168.0.251:8020/user/minip3/mort'

In [131]:
news_temp.printSchema()

root
 |-- id: integer (nullable = true)
 |-- main_section: string (nullable = true)
 |-- sub_section: string (nullable = true)
 |-- title: string (nullable = true)
 |-- datetime: timestamp (nullable = true)
 |-- content: string (nullable = true)
 |-- image_src: string (nullable = true)
 |-- byline: string (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)

In [144]:
# sqlalchemy pymysql ->panda df로 변환->pyarrow hdfs 객체-> parquet

In [137]:
from pyspark.sql.functions import date_format

news_temp = news_temp.withColumn("datetime", date_format("datetime", "yyyy-MM-dd HH:mm:ss"))

In [140]:
news_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13885 entries, 0 to 13884
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            13885 non-null  int32
 1   main_section  13885 non-null  object
 2   sub_section   13885 non-null  object
 3   title         13885 non-null  object
 4   datetime      13885 non-null  object
 5   content       13885 non-null  object
 6   image_src     11936 non-null  object
 7   byline        13325 non-null  object
 8   month         13885 non-null  int32
 9   day           13885 non-null  int32
dtypes: int32(3), object(7)
memory usage: 922.2+ KB

In [152]:
for i in range(14,16): #5월1일부터 5월 16일까지
    # print(i)
    news_temp = news_md.filter((col("month") == 5) & (col("day") == i))
    news_temp = news_temp.withColumn("datetime", date_format("datetime", "yyyy-MM-dd HH:mm:ss"))
    output_path = f"{hdfs_base_path}/news_5_{i}.parquet"
    # output_path = f"{hdfs_base_path}/month=5/day={i}/news_temp.parquet"
    hdfs = fs.HadoopFileSystem(host='192.168.0.251', port=8020, user='minip3')
    # HadoopFileSystem을 사용하여 HDFS에 저장
    with hdfs.open_output_stream(output_path) as file:
        pq.write_table(pa.Table.from_pandas(news_temp.toPandas()), file)
    # news_temp.write.parquet(output_path, mode='overwrite')
    # with local.open_output_stream(output_path) as stream:
        # stream.write(b'data')
    # hdfs_path = f"{hdfs_base_path}/month=5/day={i}"
    # hdfs_path = f"hdfs://192.168.0.251:50070/user/minip3/mort/month=5/day={i}"
    # news_temp.write.parquet(hdfs_path)
    # hdfs://192.168.0.251:8020/data/month=5/day={i}
    # output_path = f"/home/hadoop/DE31-3rd_team3/Crawler/news_temp_{i}.parquet"
    # news_temp.write.parquet(output_path, mode='overwrite')
    # os.system(f"hadoop fs -put {output_path} /user/minip3/mort/")  
    # with fs.HadoopFileSystem(host='192.168.0.251', port=8020, user='minip3') as fs1:
    #     with fs1.open_output_stream(hdfs_path) as f1:
    #         pq.write_table(news_temp, f1)
    # with fs.HadoopFileSystem(host='192.168.0.251', port=8020, user='minip3') as hdfs:
    #     with fs.open_output_stream(hdfs_path) as f:
    #             pq.write_table(news_temp,f)

In [99]:
hdfs.get_file_info(fs.FileSelector("/", recursive=True))

[<FileInfo for '/test': type=FileType.Directory>,
 <FileInfo for '/user': type=FileType.Directory>,
 <FileInfo for '/user/minip3': type=FileType.Directory>,
 <FileInfo for '/user/minip3/mort': type=FileType.Directory>]

In [100]:
hdfs.open_input_file

In [49]:
# hdfs_base_path = "hdfs://192.168.0.251:8020/home/minip3"

In [101]:
hdfs.create_dir("mort"

In [150]:
data = spark.read.parquet("hdfs://192.168.0.251:8020/user/minip3/mort/news_5_1.parquet")

In [151]:
data.show()

+---+------------+-----------+----------------------------------+-------------------+----------------------------------+--------------------+--------------------------+-----+---+
| id|main_section|sub_section|                             title|           datetime|                           content|           image_src|                    byline|month|day|
+---+------------+-----------+----------------------------------+-------------------+----------------------------------+--------------------+--------------------------+-----+---+
|  1|         100|        264|대통령실 민정수석 부활…시민사회...|2024-05-01 23:10:00| 김주현·박찬호 등…민정수석 검토...|https://imgnews.p...| 박미영 기자(mypark@new...|    5|  1|
|  2|         100|        264| 이르면 내주 용산 조직개편…민정...|2024-05-01 22:07:00| 정무수석실도 재정비…정책·홍보 ...|https://imgnews.p...|   정아란(airan@yna.co....|    5|  1|
|  3|         100|        264|  윤 대통령, 다음주 공식 기자회...|2024-05-01 20:45:00|  [뉴스리뷰][앵커]윤석열 대통령...|                null|   최지숙(js173@yna.co.kr)|    5|  1|
|  4|         100|        264|    尹 “노동 가치 꼭 보호” 근로...|2024-05-01 20:42:00|  윤석열 대통령은 1일 근로자의 ...|                null| 김미희 기자 maha@kookj...|    5|  1|
|  5|         100|        264|   선관위, 특혜 채용 감사 방해 ...|2024-05-01 20:28:00|  경력채용 관련 내용 삭제 정황 ...|https://imgnews.p...|남빛나라 기자(south@new...|    5|  1|
|  6|         100|        264|   전공의 '연속근무' 시간 최대 ...|2024-05-01 19:36:00|     현행 36시간서 여건 따라 24...|https://imgnews.p...| 정지형 기자 (kingkong@...|    5|  1|
|  7|         100|        264|    윤 대통령, DJ 따라 민정수석...|2024-05-01 19:28:00|   윤석열 대통령이 23일 서울 용...|https://imgnews.p...| 유설희 기자 sorry@kyun...|    5|  1|
|  8|         100|        264|  [단독]홍철호 “국민들 눈물있는...|2024-05-01 19:09:00|    윤석열 대통령(왼쪽)이 22일 ...|https://imgnews.p...| 장관석 기자 jks@donga.com|    5|  1|
|  9|         100|        264|   尹·李 회담, 이태원특별법 첫 ...|2024-05-01 19:02:00|  野 강행처리→尹 거부권에 석달 ...|https://imgnews.p...|   홍지인(geein@yna.co....|    5|  1|
| 10|         100|        264|    ‘1명 낳으면 1억원’ 물어보니...|2024-05-01 18:35:00|      권익위, 1만3000명 참여한 ...|https://imgnews.p...|   박태진(tjpark@edaily...|    5|  1|
| 11|         100|        264|   안보실장 "북한, 민족 부정…통...|2024-05-01 18:35:00|장호진 대통령실 국가안보실장은 ...|                null|   최지원(jiwoner@yna.c...|    5|  1|
| 12|         100|        264|  윤 대통령 "실전 같은 훈련으로...|2024-05-01 18:34:00| 윤석열 대통령은 엄중한 안보 상...|                null|   최지숙(js173@yna.co.kr)|    5|  1|
| 13|         100|        264|  대통령실 "이태원법 합의 환영…...|2024-05-01 18:20:00| 대통령실은 여야가 '이태원 참사...|                null|   최지숙(js173@yna.co.kr)|    5|  1|
| 14|         100|        264|  尹대통령, 이르면 다음주 취임2...|2024-05-01 18:15:00|  윤석열 대통령이 취임 2주년을 ...|                null| 김학재 기자 (hjkim01@f...|    5|  1|
| 15|         100|        264|   윤 대통령 "강한군대 구축"…신...|2024-05-01 18:03:00|  손대권 군수사령관 등 7명 진급...|https://imgnews.p...| 정지형 기자 (kingkong@...|    5|  1|
| 16|         100|        264|  [단독]대통령실, 민정수석 역할...|2024-05-01 17:59:00|대통령실 직제개편 윤곽 민생침해...|https://imgnews.p...| 김학재 기자 (hjkim01@f...|    5|  1|
| 17|         100|        264|      '뉴욕 3부작' 남기고... 미...|2024-05-01 17:55:00|  뉴욕 브루클린의 '문학계 세계 ...|https://imgnews.p...| 전혼잎 기자 (hoihoi@ha...|    5|  1|
| 18|         100|        264| "집행정지, 대입전형과 충돌되지...|2024-05-01 17:54:00|  의협 '범의료계 협의체'에 중대...|https://imgnews.p...| 강승지 기자 (ksj@news1...|    5|  1|
| 19|         100|        264| 대통령실 민정수석 신설 김주현 ...|2024-05-01 17:48:00|이르면 주중 대통령실 개편공석이...|https://imgnews.p...| 우제윤 기자(jywoo@mk.c...|    5|  1|
| 20|         100|        264|  [포토] 삼정검에 수치 달아주는...|2024-05-01 17:48:00|  윤석열 대통령이 1일 서울 용산...|https://imgnews.p...| 이승환 기자(presslee@m...|    5|  1|
+---+------------+-----------+----------------------------------+-------------------+----------------------------------+--------------------+--------------------------+-----+---+
only showing top 20 rows